   
   
   *
   {
   margin: 0; 
   overflow: hidden;
   box-sizing: border-box;
   transition: 0.8s; 
   }
   
   body 
   { 
   position: relative;
   }

   :root
   {
      --imgprojetos1:url(img/projetos/GIFU.png);
   }
   .GIFU
   {
      --imgprojetos1:url(img/projetos/GIFU.png);
      transition: 0.4s;
   }
   .BELARA
   {
      --imgprojetos1:url(img/projetos/BELARA.png);
      transition: 0.4s;
   }
   .BITMAP
   {
      --imgprojetos1:url(img/projetos/BITMAP.png);
      transition: 0.4s;
   }
   .TULEN
   {
      --imgprojetos1:url(img/projetos/TULEN.png);
      transition: 0.4s;
   }
   .MASCARAS
   {
      --imgprojetos1:url(img/projetos/Mascaras.png);
      transition: 0.4s;
   }

   canvas 
   { 
      display: block;
      height: 100vh;
   }

   .estrela {
     position: absolute;
     
     background: white;
     box-shadow: 0 0 1px 1px white;
     border-radius: 50%;
        top: 50%;
        left: 20%;
      animation: piscar 7s infinite  ;

     
   }


   @keyframes piscar {
        0% {filter: brightness(20%);}
        20% {filter: brightness(40%);}
        40% {filter: brightness(60%);}
        50% {filter: brightness(100%);}
         60% {filter: brightness(60%);}
         80% {filter: brightness(40%);}
      100% {filter: brightness(20%);}
   }

   @keyframes aparecer
   {
         0% {left: 100%;}
         100% {left: 40%;}
   }

   @keyframes legenda
   {
      0% {filter: brightness(20%);}
      20% {filter: brightness(40%);}
      40% {filter: brightness(60%);}
      50% {filter: brightness(100%);}
   }

#sobremim
{
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 30px;   
   z-index: 1;
   width: 40%;
   height: 60%;
   animation: aparecer 1.5s forwards;
   backdrop-filter: blur(20px) brightness(20%);
   
   
}

.displaynone
{
   display: none;  
}

.titulo
{
   text-align: center;
   font-size: 20px;
   margin-bottom: 15px;
   margin-top: 0px;
}

#orgsobremim
{
   display: grid;
   grid-template-columns: 1.3fr 1fr;
   grid-template-rows: 1fr;
}
#txtsobremim
{
   text-align: justify;
   font-size: 16px;
   margin-right: 20px;
   margin-left: 10px;
   line-height: 1.5;
}

#divimg
{
   background-color: azure;
   border-radius: 15px;
   box-shadow: 0 0 10px 2px white;
   margin-left: 10px;
   margin-right: 10px;
}

#setavoltar
{
  
   width: 20px;
   height: 20px;
   fill: white;
   cursor: pointer;
   z-index: 1;
}
 #seguidora {
      position: absolute;
      
      
      border-radius:10px;
      border:1px solid white;
      pointer-events: none; /* não atrapalha cliques */
      transition: transform 0.05s linear; /* movimento suave */
      padding:20px 40px;
      color:white;
      
    }

     #seguidora2 {
      
      
      
      border-radius:10px;
      border:1px solid white;
      pointer-events: none; /* não atrapalha cliques */
      transition: transform 0.05s linear; /* movimento suave */
      padding:20px 40px;
      color:white;
      
    }


    #divvoltar
    {
     position: absolute;
     top: 10%;
   left: 5%;

    }

    #hardskils
    {
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   padding: 30px;   
   z-index: 1;
   width: 40vw;
   height: 65vh;
   animation: aparecer 1.5s forwards;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
    }

    #Projetos
    {
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 30px;   
   z-index: 1;
   width: 50%;
   height: 65%;
   animation: aparecer 1.5s forwards linear;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
    }

   #imgprojetos
   {
      background-image:var(--imgprojetos1);
      width: 100%;
      height: 80%;
      border-radius: 40px;
      background-repeat: no-repeat;
      background-size: cover
   }

   #orgprojeto
   {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
   }

   .btnprojeto
   {
      border-radius: 50%;
      background-color: aliceblue;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer
   }

   .btnprojeto:hover
   {
      background-color: blueviolet;
      transition: 0.2s;
   }

    #orghardskils
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      height: 80%;
      
    }
    .divconst
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .divconst img
    {
      width: 60%;
      margin-bottom: 5px;
    }

    .divconst p
    {
      font-size: 1.5em;
      font-family: "Jersey 25", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .divconst img:hover
    {
      
      width: 70%;
      
    }


   .exemplo
   {
      width: 30px;
      height: 30px;
      background-color: rgb(0, 255, 255);  
   }
   
#modal1
   {
      width: 100vw;
      height: 100vh;
      z-index: 5;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 30%);
   }

#Contato
{
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 30px;   
   z-index: 1;
   width: 40%;
   height: 60%;
   animation: aparecer 1.5s forwards linear;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
}

#orgContato1
{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 10vh;
}

.divContato
{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.divContato img
{
   margin-bottom: 20px;
   height: 10vh;
}
a
{
   text-decoration: none;
   color: aliceblue;
}

.divContato p
{
   text-align: center;
   font-size: 1.2em;
   text-decoration: none;
   color: aliceblue;
}

#orgContato2
{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 5vh;
}

#Certificados
{
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 30px;   
   z-index: 1;
   width: 40%;
   height: 60%;
   animation: aparecer 1.5s forwards linear;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
}


#pokegrid
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
   row-gap: 15px;
   margin-top: 3vh;
   justify-content: center;
   align-items: center;
}

.pokdiv:hover
{
   scale: 1.1;
   filter: brightness(130%);
}

.pokespan
{
   display: none;
   font-size: 0.7em;
   width: 80%;
}

.pokdiv:hover .pokespan
{
   display: inline-block;
   animation: legenda 0.9s 
   
}







#Formulario-de-Contato
{
   position: absolute;
   top: 10%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 40px;   
   z-index: 1;
   width: 45%;
   height: 80%;
   animation: aparecer 1.5s forwards linear;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
}


.divform
{
   font-size: 1.2em;
   margin-top: 2vh;
   margin-bottom: 5px;
}

#orgform
{
   padding: 60px 70px;
}

#orgform input
{
   width: 100%;
   height: 3vh;
   background-image: url(img/formulario/telephone.png);
   background-repeat: no-repeat;
   background-position: 10px center; 
   background-size: 18px; 
   padding-left: 35px; 
   height: 30px;
   border-radius: 8px;
}

#orgform input[name ="Nome"]
{
   background-image: url(img/formulario/usuario.png);
}

#orgform input[name ="Email"]
{
   background-image: url(img/formulario/email.webp);
}
#orgform input[name ="Notas"]
{
   background-image: url(img/formulario/notes.png);
}

#orgform input:hover
{
   border: 2px solid blue;
   transition: 0.3s;
}

#divbtn
{
   display: flex;
   justify-content: center;
   align-items: center;
}

#divbtn>button
{
   margin-top: 3vh;
   border-radius: 5px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0);
   color: white;
   border: rgba(0, 0, 0, 0);
   cursor: pointer;
}

#SoftSkills
{
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   padding: 30px;   
   z-index: 1;
   width: 40vw;
   height: 65vh;
   animation: aparecer 1.5s forwards;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
}

#orgSoft
{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      height: 80%;
      text-align: center;
}

#Curriculo
{
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   padding: 25px;   
   z-index: 1;
   width: 30vw;
   height: 70vh;
   animation: aparecer 1.5s forwards;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
}
#orgCurriculo
{
   width: 100%;
   height: 100%;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#imgCurriculo
{
   background-image: url(img/curriculo.jpg);
   width: 80%;
   height: 85%;
   background-position: 30% 0%;
   border-radius: 5%;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#orgCurriculo a
{
   padding: 10px 30px;
   background-color: blueviolet;
   border-radius: 40px;
   margin-bottom: 15px;

   
}

#Formações
{
   position: absolute;
   top: 20%;
   left: 100%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 30px;   
   z-index: 1;
   width: 50%;
   height: 65%;
   animation: aparecer 1.5s forwards linear;
   box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(20px) brightness(20%);
   
}

#flex
{
   display: flex;
   justify-content: center;
   margin-top: 5vh;
   height: 100%;
}

#flex h5
{
   text-align: center;
   font-size: 20px;
   margin-bottom: 15px;
   margin-top: 0px;
}

#Maria
{
   width: 50%;
   height: 100%;
   padding: 20px;
}
#Cotemig
{
   width: 50%;
   height: 100%;
   padding: 20px;
}

#imgMaria
{
   width: 100%;
   height: 70%;
   background-image: url(img/formaçao/pngSantaMaria2.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   margin-top: -25px;
}

#imgCotemig
{
   width: 100%;
   height: 70%;
   background-image: url(img/formaçao/logoCotemig.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;

}

@media screen and (max-width: 1000px) 
{

#setavoltar
{
   scale: 2;
   margin-left: 3vw;
   margin-top: 2vh;
}

#sobremim
{
   width: 89vw;
   height: 40vh;
   margin-left: -30vw;
}

#hardskils
{
   width: 89vw;
   height: 50vh;
   margin-left: -30vw;
}

#SoftSkills
{
   width: 70vw;
   height: 50vh;
   margin-left: -20vw;
}

#Projetos
{
   width: 75vw;
   height: 50vh;
   margin-left: -18vw;
}

#Contato
{
   width: 75vw;
   height: 50vh;
   margin-left: -18vw;
}

#Formulario-de-Contato
{
   width: 75vw;
   height: 50vh;
   margin-left: -18vw;
   margin-top: 16vh;
}

#Certificados
{
   width: 75vw;
   height: 35vh;
   margin-left: -18vw;
   margin-top: 16vh;
}

#Curriculo
{
   width: 75vw;
   height: 40vh;
   margin-left: -18vw;
   margin-top: 16vh;
}

#Formações
{
   width: 75vw;
   height: 40vh;
   margin-left: -18vw;
   margin-top: 16vh;
}

}
