  body { margin: 0; overflow: hidden;
  box-sizing: border-box; 
   position: relative;}


   canvas { display: block; 
}

   .estrela {
     position: absolute;
     
     background: white;
     box-shadow: 0 0 1px 1px white;
     border-radius: 50%;
        top: 50%;
        left: 20%;
      animation: piscar 7s infinite  ;

     
   }


   @keyframes piscar {
        0% {filter: brightness(20%);}
        20% {filter: brightness(40%);}
        40% {filter: brightness(60%);}
        50% {filter: brightness(100%);}
         60% {filter: brightness(60%);}
         80% {filter: brightness(40%);}
      100% {filter: brightness(20%);}
   }

#sobremim
{
   position: absolute;
   top: 20%;
   left: 55%;
   color: white;
   border-radius: 90px;
   border: 2px solid white;
   font-family: Arial, sans-serif;
   padding: 30px;   
   z-index: 1;
   width: 35%;
   height: 60%;
}

.displaynone
{
   display: none;
}

#titulosobremim
{
   text-align: center;
   font-size: 20px;
   margin-bottom: 15px;
}

#orgsobremim
{
   display: grid;
   grid-template-columns: 1.3fr 1fr;
   grid-template-rows: 1fr;
}
#txtsobremim
{
   text-align: justify;
   font-size: 16px;
   margin-right: 20px;
   margin-left: 10px;
   line-height: 1.5;
}

#divimg
{
   background-color: azure;
   border-radius: 15px;
   box-shadow: 0 0 10px 2px white;
   margin-left: 10px;
   margin-right: 10px;
}

#setavoltar
{
  
   width: 20px;
   height: 20px;
   fill: white;
   cursor: pointer;
   z-index: 1;
}
 #seguidora {
      position: absolute;
      
      
      border-radius:10px;
      border:1px solid white;
      pointer-events: none; /* não atrapalha cliques */
      transition: transform 0.05s linear; /* movimento suave */
      padding:20px 40px;
      color:white;
      
    }

     #seguidora2 {
      
      
      
      border-radius:10px;
      border:1px solid white;
      pointer-events: none; /* não atrapalha cliques */
      transition: transform 0.05s linear; /* movimento suave */
      padding:20px 40px;
      color:white;
      
    }


    #divvoltar
    {
     position: absolute;
     top: 10%;
   left: 5%;

    }