
*{transition:0.5s}

@import 
url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inder&family=Inika:wght@400;700&family=Jacques+Francois+Shadow&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap');

:root
{
    --backgroud:black;
    --btn:blueviolet;
    --cortxt:azure;
    --img:url(img/pngplaneta/esfera.png);
    --backgroundT:rgb(0, 0, 0);
    
}


section
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 10vh;
    color: var(--cortxt);
    font-size: 3em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}

body
{
    background-color: var(--backgroud);
    margin: 0;
    position: relative;
}
#org1
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}



#txt1
{
    width: 50%;
    height: 80%;
    color: var(--cortxt);
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3;
}

#img1
{
    background-image: var(--img);
    width: 20%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover

}

#img2
{
    background-image: var(--img);
    width: 20%;
    height: 50vh;
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-size: cover;
}

#btn1
{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

#btn2
{
    display: flex;
    justify-content: center;
    color: var(--cortxt);
    
}

#btn1 a 
{
    color: var(--cortxt);
    text-decoration: none;
    padding: 10px 40px;
    background-color: var(--btn);
    border-radius: 40px;
}

#btn2 label
{
    color: var(--cortxt);
    text-decoration: none;
    padding: 10px 40px;
    background-color: var(--btn);
    border-radius: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .darkmode
  {
    --backgroud:rgb(255, 255, 255);
    --btn:rgb(43, 226, 195);
    --cortxt:rgb(0, 0, 0);
    --img:url(img/pngplaneta/pngsol.png) ;
    transition: 0.5s;
  }

  #divclaro
  {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }

  .carousel-item
  {
    padding: 5vw;
    background-color: var(--backgroundT);
  }
  .active
  {
    width: 50vw;
    height: 70vh;
  }

  #Tutorialimg1
  {
    background-image: url(img/tutorial/esfera2.png);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    
  }

  #Tutorialimg1 img
  {
    width: 20px;
    position: absolute;
    top: 15vh;
    right: 20vw;
  }

    #Tutorialimg1+label
  {
      color: var(--cortxt);
      font-size: 1.4em;
  }

  #flex
  {
    display: flex;
    justify-content: center;
  }

  #Tutorialimg2
  {
    background-image: url(img/tutorial/esfera2.png);
    width: 60%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
  }

    #Tutorialimg2 img
  {
    width: 20px;
    position: absolute;
    top: 15%;
    right: 30%;
  }

  #TutorialExemplo
  {
    width:50%;
    height: 40vh;
    background-color: #ccc;
    border-radius: 30px;
  }



  .txtTutorial
  {
      color: var(--cortxt);
      font-size: 1.4em;
      width: 100%;
      text-align: center;
      margin-top: 2vh;
  }

  @media screen and (max-width:1000px) {
    
    .carousel-item
    {
      min-width: 80vw ;
    }

  }



  

